<span class="presence">
		<h2>Where to find us</h2>
		<ul>
				<li><strong>email:</strong>&nbsp;possum  !at! tilde.red</li>
				<li><strong>git:</strong>&nbsp;<a href="https://codeberg.org/tilde_red" target="_blank">codeberg/tildered</a></li>
				<li><strong>chat:</strong>&nbsp;<a href="https://tildered.zulipchat.com/" target="_blanki">zulip</a></li>
				<li><strong>fediverse:</strong>&nbsp;Someday soon</li>
		</ul>
</span>
